:root:root {
 --dd-gray-50: rgba(250, 250, 250, 1);
 --dd-gray-100: rgba(244, 244, 244, 1);
 --dd-gray-200: rgba(235, 235, 235, 1);
 --dd-gray-300: rgba(212, 212, 212, 1);
 --dd-gray-400: rgba(188, 188, 188, 1);
 --dd-gray-500: rgba(159, 159, 159, 1);
 --dd-gray-600: rgba(102, 102, 102, 1);
 --dd-gray-700: rgba(97, 97, 97, 1);
 --dd-gray-800: rgba(87, 87, 87, 1);
 --dd-gray-900: rgba(75, 75, 75, 1);
 --dd-gray-1000: rgba(62, 62, 62, 1);
 --dd-gray-1100: rgba(44, 44, 44, 1);
 --dd-gray-1200: rgba(27, 27, 27, 1);

 --dd-button-bg-1: rgba(33, 40, 48, 1);

 --dd-color-primary: #ff3a3a;
 --dd-color-primary-hover: #C20C0C;

 --dd-function-red: #c0392b;

 --dd-page-bg-1: var(--dd-gray-1200);
 --dd-page-bg-2: #242424;

 --dd-line-bg-1: var(--dd-gray-1100);
 --dd-line-bg-2: var(--dd-gray-900);

 --dd-text-color-0: #25292E;
 --dd-text-color-1: var(--dd-gray-100);
 --dd-text-color-2: var(--dd-gray-400);
 --dd-text-color-3: var(--dd-gray-600);
 --dd-text-color-4: rgba(0, 0, 0, 1);

 --dd-text-clickable: var(--dd-gray-50);
 --dd-btn-text-color: var(--dd-gray-1200);

 --dd-section-bg-1: var(--dd-gray-1100);
 --dd-section-bg-2: var(--dd-gray-1000);
 --dd-section-bg-3: var(--dd-gray-200);
 --dd-section-bg-4: var(--dd-primary-white);

 --dd-page-bg-color: var(--dd-gray-1200);
 --dd-modal-bg-color: var(--dd-gray-1100);

 --dd-icon-color-1: var(--dd-gray-100);
 --dd-icon-color-2: var(--dd-gray-600);

}

/* override rainbowkit color */
[data-rk] {
 --rk-colors-accentColor: var(--dd-color-primary) !important;
}